body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.root-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  padding-top: 26px;
  text-align: right;
}

.nav-links li a {
  text-decoration: none;
  color: gray;
  text-transform: lowercase;
}

.nav-links li a:hover {
  color: black;
}

.navbar-wrapper li a.active {
  color: black;
}

.main-wrapper {
  flex: 2;
}

.aside-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.highlight {
  background-color: darkorange;
  color: white;
}

h1 {
  font-size: 32px;
  color: #111;
}

h2 { 
  color: #111;
  font-size: 24px;
}

h3 {
  color: #111;
}

p {
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

.list-border {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-border li {
  margin-top: 16px;
  padding-left: 10px;
  border-left: 5px solid darkorange;
}

.list-border li * {
  margin: 0;
}

.list-bulletless {
  list-style: none;
  padding: 0;
  margin: 0;

}

.list-bulletless li {
  margin-top: 16px;
}

.list-bulletless li * {
  margin: 0;
}

.main-wrapper a {
  color: darkorange;
  text-decoration: none;
}

.main-wrapper a:hover {
  color: white;
  background-color: darkorange;
}

.aside-wrapper a {
  color: gray;
  text-decoration: none;
}

.aside-wrapper a:hover {
  color: black;
}

.no-margin {
  margin: 0;
}

@media only screen and (max-width: 760px) {
  .root-wrapper {
    flex-direction: column;
  }

  .navbar-wrapper {
    position: -webkit-relative; /* Safari */
    position: relative;
    align-self: stretch;
  }

  .main-wrapper {
    padding: 16px;
  }

  .nav-links li {
    display: inline-block;
    margin: 16px;
  }

  .aside-wrapper {
    display: none;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 95%;
  height: auto;
}

img.zoomable {
  transition: transform .2s;
}

img.zoomable:hover {
  transform: scale(1.5);
}

footer p {
  color: gray;
}